.woodSelectionContainer{
    background: rgb(243, 243, 243);
    padding: 8rem;
    border-radius: 1rem;
    margin: 5rem;
}

.woodSelectionSelect{
    display: inline-block;
    width: 20rem;
    margin-left: 2rem;
}

.woodSelectionInput{
    border: 1px solid rgb(214, 213, 213);
    border-radius: 3px;
    height: 2.2rem;
    padding: 0.5rem;
    margin-left: 3.1rem;
}

@media screen and (max-width: 900px) {
    .woodSelectionContainer{
        padding: 2rem;
        margin: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .woodSelectionContainer{
        padding: 1rem;
        margin: 0;
        width: 100%;
    }

    .woodSelectionSelect{
        width: 100%;
        margin: 0;
        display: block;
    }
    
    .woodSelectionInput{
        width: 100%;
        margin: 0;
        display: block;
    }

}