body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  body h3{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.5rem;
  }
  
  body p{
    font-size: 1rem;
  }
}